on:
  pull_request:
    types: [closed]
    branches:
      - master

env:
  ENGINE_VERSION: ${{ vars.ENGINE_VERSION }}
  PLATFORM: "LINUX_X64"
  ENGINE: "2ms"
  CES_ENVIROMENT: "prod"
  LOG_FILE: ${{ github.workspace }}/log.log

jobs:
  ci-projects:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          path: 2ms

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: "^1.22"

      - name: Build 2ms Binary
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: amd64
        run: |
          cd $GITHUB_WORKSPACE/2ms
          go build -ldflags "-s -w" -a -installsuffix cgo -o $GITHUB_WORKSPACE/2ms/dist/2ms main.go
          chmod +x $GITHUB_WORKSPACE/2ms/dist/2ms


      - name: Checkout CLI repo
        uses: actions/checkout@v4
        with:
          repository: ${{ vars.CES_EXECUTOR_REPO }}
          token: ${{ secrets.TWOMS_BOT_PAT }}
          path: cli
          ref: master

      - name: Build Engines Excutor
        run: |
          cd cli
          go build -o excutor

      - name: Create Metadata File
        run: |
          COMMIT_TIMESTAMP=$(git -C "$GITHUB_WORKSPACE/2ms" log -1 --format=%ct)
          METADATA_PATH="$GITHUB_WORKSPACE/pr-metadata.json"
          echo '{
            "seq": "'"${COMMIT_TIMESTAMP}"'",
            "tag": "'"${{ github.event.number }}"'",
            "comment": "'"${{ github.event.pull_request.title }}"'",
            "commit": "'"${{ github.sha }}"'",
            "owner": "'"${{ github.actor }}"'",
            "branch": "'"${{ github.base_ref }}"'",
            "engine": "'"${ENGINE}"'",
            "platform": "'"${PLATFORM}"'",
            "version": "'"${ENGINE_VERSION}"'"
          }' > "$METADATA_PATH"

          echo "" >> "$LOG_FILE"
          echo "Metadata contents:" >> "$LOG_FILE"
          cat "$METADATA_PATH" >> "$LOG_FILE"
          echo "" >> "$LOG_FILE"

      - name: Select Projects
        run: |
          set -o pipefail
          mkdir -p "$GITHUB_WORKSPACE/zips/"
          cd cli
          ./excutor sources -s $GITHUB_WORKSPACE/zips/ -e $ENGINE >> "$LOG_FILE" 2>&1

          cd "$GITHUB_WORKSPACE/zips/"
          for zip in *.zip; do
            [ -e "$zip" ] || continue
            echo "::add-mask::$(pwd)/$zip"
            zip_name=$(basename "$zip" .zip)
            unzip -qqo "$zip" -d "./$zip_name" >> "$LOG_FILE" 2>&1
          done
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CES_BUCKET_AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CES_BUCKET_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.CES_BUCKET_AWS_REGION }}

      - name: Run Engines Executor
        run: |
          set -o pipefail
          mkdir -p $GITHUB_WORKSPACE/results
          ./cli/excutor run -b $GITHUB_WORKSPACE/2ms/dist/2ms -s $GITHUB_WORKSPACE/zips/ -r $GITHUB_WORKSPACE/results -e $ENGINE -j $GITHUB_WORKSPACE/pr-metadata.json -p 1 --env $CES_ENVIROMENT >> "$LOG_FILE" 2>&1

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CES_BUCKET_AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CES_BUCKET_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.CES_BUCKET_AWS_REGION }}

      - name: Upload log if fail
        if: failure()
        run: |
          ./cli/excutor save-log -e $ENGINE -j $GITHUB_WORKSPACE/pr-metadata.json -l $LOG_FILE --env $CES_ENVIROMENT > /dev/null 2>&1

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CES_BUCKET_AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CES_BUCKET_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.CES_BUCKET_AWS_REGION }}

