name: Release

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: '^1.20'

      - name: Gets release info
        id: semantic_release_info
        uses: jossef/action-semantic-release-info@v2.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Go Linter
        if: ${{ steps.semantic_release_info.outputs.git_tag }}
        run: docker run --rm -v $(pwd):/app -w /app golangci/golangci-lint:v1.52.0 golangci-lint run -v -E gofmt --timeout=5m

      - name: Unit Tests
        if: ${{ steps.semantic_release_info.outputs.git_tag }}
        run: go test ./...

      - name: Creating Release
        if: ${{ steps.semantic_release_info.outputs.git_tag }}
        uses: softprops/action-gh-release@v0.1.15
        with:
          tag_name: ${{ steps.semantic_release_info.outputs.git_tag }}
          name: ${{ steps.semantic_release_info.outputs.git_tag }}
          body: ${{ steps.semantic_release_info.outputs.notes }}
          target_commitish: ${{ steps.commit_and_push.outputs.latest_commit_hash }}
